<%= form_for(@house) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="houses">
  <form class="col s12" >   
<div class="row">
    <div class="input-field col s2">
    <%= f.label :houseNo %><br>
    <%= f.text_field :houseNo %>
  </div>

   <div class="input-field col s4">
    <%= f.label :houseName %><br>
    <%= f.text_field :houseName %>
  </div>
  <div class="input-field col s4">
    <%= f.label :Pattikar %><br>
    <%= f.text_field :pattikar_name %>
  </div>
</div>
  <div class="row">
  <div class="input-field col s4">
    <%= f.label :street1 %><br>
    <%= f.text_field :street1 %>
  </div>

   <div class="input-field col s4">
    <%= f.label :street2 %><br>
    <%= f.text_field :street2 %>
  </div>
</div>
<div class="row">
   <div class="input-field col s3">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

   <div class="input-field col s3">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
   <div class="input-field col s3">
    <%= f.label :pincode %><br>
    <%= f.number_field :pincode %>
  </div>
</div>
<div class="input-field col s3">
  
    <%= f.submit 'Register', :class => 'btn waves-effect waves-light' %>
<% end %>
</div>
</form>
</div>

