<h5 class="heading_main">House List</h5>
<div class="input-field col s3">

<button class="btn waves-effect waves-light" align="right"><%= link_to 'Register House', new_house_path %></button>
</div>

<table id="housesList">
  <thead>
    <tr>
      <th>Houseno</th>
      <th>Housename</th>
      <th>Pattikar</th>
      <th>Street1</th>
      <th>Street2</th>
      <th>City</th>
      <!-- <th>State</th>
      <th>Pincode</th> -->
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.houseNo %></td>
        <td><%= house.houseName %></td>
        <td><%= house.pattikar_name %></td>
        <td><%= house.street1 %></td>
        <td><%= house.street2 %></td>
        <td><%= house.city %></td>
      <!--  <td><%= house.state %></td>
        <td><%= house.pincode %></td>  -->
        <td><%= link_to 'Show', house %> <%= link_to 'Edit', edit_house_path(house) %> <%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

