<p id="notice"><%= notice %></p>

<br />
<button class="btn waves-effect waves-light" style="float: right; margin-left: 5px;"><%= link_to 'Register Member', new_house_member_path(@house.id) %></button>



 <button type="button" class="btn waves-effect waves-light"  style="float: right; margin-left: 5px;" data-toggle="modal" data-target="#myModal" id="add">
                           Pay Vanthiga
 </button>
   <br/>
   <br/>
   <div class="modal fade banner-info animated wow slideInUp" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h6 class="modal-title" id="myModalLabel">Pay Vanthiga</h6>
     </div>
     <div class="modal-body">
       <%= render '/fees/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<br />

<div class="pcss3t pcss3t-effect-slide-bottom pcss3t-theme-4">
     <input type="radio" name="pcss3t" checked id="tab1" class=" tab-content-first ">
        <label for="tab1"><i class="fa fa-home" aria-hidden="true"></i>House Details</label>
        
        <input type="radio" name="pcss3t" id="tab2" class="tab-content-2">
        <label for="tab2"><i class="fa fa-users" aria-hidden="true"></i>Members</label>
        
        <input type="radio" name="pcss3t" id="tab3" class="tab-content-3">
        <label for="tab3"><i class="fa fa-money" aria-hidden="true"></i>Vanthiga</label> 
        
       


<ul>
  <li class="tab-content tab-content-first typography">
    <h5>House Details </h5>
    <table class="striped bordered centered responsive-table">
      <tbody>
        <tr>

          <td><strong>Houseno:</strong></td>
          <td><%= @house.houseNo %></td>
        </tr>
<tr>
  <td><strong>Housename:</strong></td>
  <td><%= @house.houseName %></td>
</tr>
<tr>
  <td><strong>Pattikar:</strong></td>
  <td><%= @house.pattikar_name %></td>
</tr>
<tr>
  <td><strong>Street1:</strong></td>
  <td><%= @house.street1 %></td>
</tr>
<tr>
  <td><strong>Street2:</strong></td>
  <td><%= @house.street2 %></td>
</tr>
<tr>
          <td><strong>City:</strong></td>
          <td><%= @house.city %></td>
</tr>
<tr>
          <td><strong>State:</strong></td>
          <td><%= @house.state %></td>
</tr>
<tr>
  <td><strong>Pincode:</strong></td>
  <td><%= @house.pincode %> </td>
</tr>
</toby>
</table>
<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
          </li>
          
          <li class="tab-content tab-content-2 typography">
            <h5 class="heading_main" > List of members </h5>
<table class="striped bordered centered responsive-table">
  <tbody>
    
 <% @house.members.each do |member| %>
 <tr>
   <td>  <%= member.try(:firstName) %> </td>
    <td><%= link_to 'Show', member , :class => 'waves-effect waves-light btn-'%> <%= link_to 'Edit', edit_member_path(member) %> <%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
   <% end %>
 
</table> 
</tbody>
          </li>
          
          <li class="tab-content tab-content-3 typography">
          
           <h5 class="heading_main" > Vanthiga </h5>
                  <table class="striped bordered centered responsive-table">
                   <tbody>
                      <% @house.fees.last(5).reverse.each do |fee| %>
                     <tr>
                      <td> <%= fee.try(:created_at).to_time.strftime("%b %d,%Y") %>
                      <td>  <%= fee.try(:amount) %> </td>

                     </tr>

                     <% end %>
                     
                   </tbody>  
                  </table>

                  <h5 style="float: right;"> Total Amount Paid: <%= @house.fees.sum(:amount) %> </h5> 
          </li>
          
          
        </ul>
</div>

<!--<button id="house_show"> house </button>
<button id="member_show"> member</button>
<button id="fee_show">fee</button>
<div class="house_details">
<table class="striped bordered centered responsive-table">
  <tbody>
    <tr>

  <td><strong>Houseno:</strong></td>
  <td><%= @house.houseNo %></td>
</tr>
<tr>
  <td><strong>Housename:</strong></td>
  <td><%= @house.houseName %></td>
</tr>
<tr>
  <td><strong>Pattikar:</strong></td>
  <td><%= @house.pattikar_name %></td>
</tr>
<tr>
  <td><strong>Street1:</strong></td>
  <td><%= @house.street1 %></td>
</tr>
<tr>
  <td><strong>Street2:</strong></td>
  <td><%= @house.street2 %></td>
</tr>
<tr>
  <td><strong>City:</strong></td>
  <td><%= @house.city %></td>
</tr>
<tr>
  <td><strong>State:</strong></td>
  <td><%= @house.state %></td>
</tr>
<tr>
  <td><strong>Pincode:</strong></td>
  <td><%= @house.pincode %> </td>
</tr>
</toby>
</table>
</div>
<div class="member_details">
 <h5 class="heading_main" > List of members </h5>
<table class="striped bordered centered responsive-table">
  <tbody>
    
 <% @house.members.each do |member| %>
 <tr>
   <td>  <%= member.try(:firstName) %> </td>
    <td><%= link_to 'Show', member , :class => 'waves-effect waves-light btn-'%> <%= link_to 'Edit', edit_member_path(member) %> <%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
   <% end %>
 
</table> 
</tbody>
</div>
<div class="fee_details">

<h5 class="heading_main" > Vanthiga </h5>
<table class="striped bordered centered responsive-table">
  <tbody>
    <% @house.fees.each do |fee| %>
    <tr>
      <td> <%= fee.try(:created_at).to_time.strftime("%b %d,%Y") %>
       <td>  <%= fee.try(:amount) %> </td>

    </tr>
    <% end %>
  </tbody>  
</table> 
</div> -->