<div class="back_login">
<h5 class="heading_main_login">Log in</h5>
<div >


  <br />

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <div class="houses">
  <form class="col s12" >   
<div class="row">
    <div class="input-field col s2">
    <%= f.label :email,:class => 'label_red' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
</div>

  <div class="row">
    <div class="input-field col s2">
    <%= f.label :password, :class => 'label_red'  %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="input-field col s2">
    <%= f.submit "Log in", :class => 'btn waves-effect waves-light'  %>
  </div>
<% end %>
</form>
</div>
</div>


<%= render "devise/shared/links" %>
</div>