<%= form_for(@fee) do |f| %>
  <% if @fee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fee.errors.count, "error") %> prohibited this fee from being saved:</h2>

      <ul>
      <% @fee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="fees">
  <form class="col s12" > 
  <%= f.hidden_field :house_id, value: @house.id  %>  
<!--<div class="row">
    <div class="input-field col s2">
    <%= f.label :house_id %><br>
    <%= f.number_field :house_id %>
  </div> 
  <%= f.fields_for :houses do |a| %>

  <div class="input-field col s2">
    <%= a.label :houseNo, 'House No' %><br>
    <%= a.text_field :houseNo %>
  </div>

  <% end %> -->

  <div class="row">
    <div class="input-field col s10">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
</div>
<!--  <div class="field">
    <%= f.label :last_paid_date %><br>
    <%= f.date_select :last_paid_date %>
  </div>
  <div class="field">
    <%= f.label :total_amount %><br>
    <%= f.number_field :total_amount %>
  </div>
  <div class="field">
    <%= f.label :pending_amount %><br>
    <%= f.number_field :pending_amount %> 
  </div> -->
  <div class="input-field col s3">

    
    <%= f.submit 'Submit' , :class => 'btn waves-effect waves-light' %>
  </div>
<% end %>
</form>
</div>