
<button class="btn waves-effect waves-light" align="right"><%= link_to 'Pay Vanthiga', new_fee_path %></button>
<table id="feesList">
  <thead>
    <tr>
      <th>Payment No</th>
      <th>Houseid</th>
      <th>Amount</th>
      <th>Last paid date</th>
      <th>Total amount</th>
      <th>Pending amount</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @fees.each do |fee| %>
      <tr>
        <td><%= fee.payment_number %></td>
        <td><%= fee.house_id %></td>
        <td><%= fee.amount %></td>
        <td><%= fee.last_paid_date %></td>
        <td><%= fee.total_amount %></td>
        <td><%= fee.pending_amount %></td>
        <td><%= link_to 'Show', fee %><%= link_to 'Edit', edit_fee_path(fee) %><%= link_to 'Destroy', fee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


