<p id="notice"><%= notice %></p>

<br />

<h5 class="heading_main">Vanthiga Details</h5>

<br />

<table class="striped bordered centered responsive-table">
  <tbody>

    <tr>

  <td><strong>Payment Number:</strong></td>
   <td><%= @fee.payment_number %></td>

 </tr>
    <tr>

  <td><strong>House Number:</strong></td>
   <td><%= @fee.house.houseNo %></td>

 </tr>
 <tr>

   <td><strong>Amount:</strong></td>
   <td><%= @fee.amount %></td>
</tr>
 <tr>
   <td><strong>Last paid date:</strong></td>
   <td><%= @fee.last_paid_date %></td>
</tr>
 <tr>
   <td><strong>Total amount:</strong></td>
   <td><%= @fee.total_amount %></td>
</tr>
 <tr>
   <td><strong>Pending amount:</strong></td>
   <td><%= @fee.pending_amount %></td>
<tr>
</tbody>
</table>

<%= link_to 'Edit', edit_fee_path(@fee) %> |
<%= link_to 'Back', fees_path %>
