/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
  require_tree  require dataTables/jquery.dataTables
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require_self
 */

 .heading_main { color: #26a69a; text-align: center;}

 .heading_main_login { color: #f15b11; }
.back {
   background-image:url('back12.jpg');
    width:100%;
    height:100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



} 

.header {

  
    background:#797777;

}


.house_details,.fee_details,.member_details{
    display: none;
}
.back_login {
   background-image:url('ammmma.jpg');
    width:100%;
    height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



} 
.label_red {
    color: red;
}

 /*.modal .modal-body {
max-height: 900px;
max-width: 900px;
overflow-y: auto;
overflow-x: auto;
}
*/

.modal-dialog {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-right: -4px;
}
.modal-content {
    vertical-align: center;
    height: 30%;
    min-height: 30%;
    height: 30%;
    width: 50%;
    border-radius: 0;
}

#myModal .modal-dialog {
    width: 55%;
}
.modal-content {
     width: 40% ;
     height: 50% ;

}

.modal-footer .btn-default {
    color: #FBF3F3;
    background-color: #163C7B !important;
    border-color: #2F71E2 !important;
}
#myModal{
    text-align:center;
}
#myModal div{
    text-align:left;
}
.big-icon {
    font-size: 32px;
}
.fa-5x{
    font-size:1.6em;
}


.hide {

    visibility:hidden;
}