import url(http://fonts.googleapis.com/css?family=Gabriela);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body, div, h1, h2, h3, p, pre {
	margin: 0;
	padding: 0;
	color: #333;
}
html, body {
	background: #bdcbe5;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.55;
}
h1 {
	padding: 40px 0 20px;
	font: 40px/60px Gabriela, Georgia, serif;
	text-align: center;
	text-shadow: 3px 3px rgba(0,0,0,0.1);
	color: #fff;	
}
p {
	margin-bottom: 40px;
	text-align: center;
}
a {
	text-decoration: underline;
	color: #1889e6;
}
a:hover {
	text-decoration: none;
}
.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.page {
	position: relative;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 20px 40px;
}