/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Open Sans', sans-serif;
}
p{
	margin:0;
}
h1,h2,h3,h4,h5,h6,a{
	font-family: 'Bad Script', cursive;
	font-weight:100;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- banner --*/
.top-nav ul li a{
	transition:.5s ease-in-out;
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	-ms-transition:.5s ease-in-out;
}
.banner{
	background:url(../images/1.jpg) 0px 0px no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height:800px;
}
.banner1{
	background:url(../images/19.jpg) 0px 0px no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height:400px;
}
.header {
    padding:2em 0 0;
}
.header-left{
	float:left;
	width:27%;
}
.header-left input[type="text"]{
	outline: none;
    background: none;
    border:1px solid #222;
    padding: 10px;
    font-size: 14px;
    color: #222;
    width: 87%;
    float: left;
    border-right: none;
}
.header-left input[type="submit"]{
	outline: none;
    border:1px solid #222;
    border-left: none;
    padding: 9px 0;
    width: 13%;
    background: url(../images/img-sp.png) no-repeat -6px 2px;
}
.header-left1{
	float:left;
	margin-left:12em;
}
.header-left1 h1 a{
	font-size: 2em;
    color:#3598dc;
    text-decoration: none;
    display: block;
}
.header-left1 h1 a span{
	display:block;
	font-size:.2em;
	color:#222;
}
.top-nav ul li{
	list-style-type: none;
    border-bottom: 1px solid #929292;
}
.top-nav ul li:nth-child(6) {
    border-bottom: none;
}
.top-nav ul li.active a {
    background:#3598dc;
}
.top-nav ul li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding:13px 10px;
    display: block;
	font-family: 'Open Sans', sans-serif;
}
.top-nav ul li a:hover{
	background:#3598dc;
}
/*-- menu --*/
.top-nav {
    position: absolute;
    top: 6%;
    right:14%;
    padding-bottom: 1em;
	z-index: 999;
}
span.menu {
	position: relative;
	cursor: pointer;
}
ul.nav1 {
    display: none;
    position: absolute;
    top: 100%;
    right: -175%;
    background:rgba(0, 0, 0, 0.54);
    width: 180px;
    z-index: 9;
	text-align: center;
}
/*-- //menu --*/
/*-- banner-info --*/
.banner-info{
	padding:14em 0 0;
	text-align:center;
}
.banner-info h3{
	width: 60%;
    font-size: 2.5em;
    color: #fff;
    margin: 0 auto;
    line-height: 1.5em;
    padding: .5em;
    background:rgba(206, 84, 72, 0.5);
}
.banner-info p{
	margin: 1em auto 3em;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.8em;
    width: 55%;
}

.more a{
	padding:8px 100px;
    font-size: 1em;
    color:#222;
    text-decoration: none;
	position:relative;
	    z-index: 3;
}
.more a:hover{
	color:#fff;
}
/* ================================================================ */
/* BUTTON TYPE 4 STARTS HERE -------------------------------------- */
/* ================================================================ */


.type-4 span {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	opacity: 1;
	left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 13px 0;
	-webkit-transition: all 0.3s linear 0.3s;
	transition: all 0.3s linear 0.3s;
	text-align: center;
	background: #aaa;
	z-index: 99999;
	-webkit-transition: none;
	transition: none;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-o-border-radius: 40px;
	-ms-border-radius: 40px;
}
.type-41 span {
	background:#566B87;
}

.type-4 span:first-of-type {
	clip:rect(0px,10040px,13px,0px);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	opacity: 0;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
}

.type-4 span:nth-of-type(2) {
	clip: rect(13px,10040px,26px,0px);
	-webkit-transform-origin: 0 13px;
	transform-origin: 0 13px;
	opacity: 0;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
}

.type-4 span:nth-of-type(3) {
	clip: rect(26px,10040px,39px,0px);
	-webkit-transform-origin: 0 26px;
	transform-origin: 0 26px;
	opacity: 0;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
}

.type-4 span:nth-of-type(4) {
	clip: rect(39px,10040px,52px,0px);
	-webkit-transform-origin: 0 39px;
	transform-origin: 0 39px;
	opacity: 0;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
}

.type-4:hover span:nth-of-type(1) { 
	-webkit-transition: -webkit-transform 0.2s linear 0s, opacity 0s linear 0s, background 0.2s linear 0s;
	transition: transform 0.2s linear 0s, opacity 0.05s linear 0s, background 0.2s linear 0s;
}

.type-4:hover span:nth-of-type(2) { 
	-webkit-transition: -webkit-transform 0.2s linear 0.2s, opacity 0s linear 0.2s, background 0.2s linear 0.2s;
	transition: transform 0.2s linear 0.2s, opacity 0.05s linear 0.2s, background 0.2s linear 0.2s;
}

.type-4:hover span:nth-of-type(3) { 
	-webkit-transition: -webkit-transform 0.2s linear 0.4s, opacity 0s linear 0.4s, background 0.2s linear 0.4s;
	transition: transform 0.2s linear 0.4s, opacity 0.05s linear 0.4s, background 0.2s linear 0.4s;
}

.type-4:hover span:nth-of-type(4) {
	-webkit-transition: -webkit-transform 0.2s linear 0.6s, opacity 0s linear 0.6s, background 0.2s linear 0.6s;
	transition: transform 0.2s linear 0.6s, opacity 0.05s linear 0.6s, background 0.2s linear 0.6s;
}

.type-4:hover span {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
	background: #222;
}

.type-4 span:nth-of-type(5) {
	-webkit-transform: none;
	transform: none;
	background:#FFFFFF;
	z-index: 999;
}

.more1 a.type-4 span:nth-of-type(5) {
    background:#000;
}
.more1 a{
	color:#fff;
}

.type-4:hover span:nth-of-type(5) {
	-webkit-transform: none;
	transform: none;
	background: #094866;
	-webkit-transition: background 0.2s linear 0.6s;
	transition: background 0.2s linear 0.6s;
	z-index: 999;
}

.type-4 span:last-of-type {
	opacity: 0;
	background:#222;
	-webkit-transition: none;
	transition: .5s ease-in-out;
}

.type-4:hover span:last-of-type {
	opacity: 1;
	-webkit-transition: all 0.05s linear 0.8s;
	transition: all 0.05s linear 0.8s;
}
.type-41:hover span,.type-41 span:last-of-type {
	background:#3598dc;
}
.more1 a:hover{
	color:#fff;
}
/*-- //type-4 --*/
.social-icons {
    padding: 8em 0 0;
}
.social-icons ul li{
	display:inline-block;
	padding: 0 !important;
    margin: 0 !important;
}
.social-icons ul li a{
	width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 100%;
}
.social-icons ul li a,.services-grid h5 a,.footer-copy p a,.footer-grid ul li a,.contact-left2 ul li a,.mail input[type="submit"]{
	transition:.5s ease-in-out;
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	-ms-transition:.5s ease-in-out;
}
.social-icons ul li a.twitter:hover{
	background: url(../images/img-sp.png) no-repeat 1px -46px #3598DC;
    border: 2px solid #2484C6;
}
.social-icons ul li a.twitter{
	background:url(../images/img-sp.png) no-repeat 1px -46px;
	display:block;
}
.social-icons ul li a.facebook{
	background:url(../images/img-sp.png) no-repeat -49px -47px;
	display:block;
}
.social-icons ul li a.facebook:hover{
	background:url(../images/img-sp.png) no-repeat -49px -47px #3598DC;
	border:2px solid #2484C6;
}
.social-icons ul li a.google{
	background:url(../images/img-sp.png) no-repeat -96px -46px;
	display:block;
}
.social-icons ul li a.google:hover{
	background:url(../images/img-sp.png) no-repeat -96px -46px #3598DC;
	border:2px solid #2484C6;
}
.social-icons ul li a.p{
	background:url(../images/img-sp.png) no-repeat -143px -46px;
	display:block;
}
.social-icons ul li a.p:hover{
	background:url(../images/img-sp.png) no-repeat -143px -46px #3598DC;
	border:2px solid #2484C6;
}
/*-- //banner --*/
/*-- banner-bottom --*/
.banner-bottom-left p{
	color:#fff;
	font-size:14px;
	margin:0;
	line-height:1.8em;
}
.banner-bottom-left1{
	padding:8em 5em 5em;
	background:#6B8FA8;
}
.banner-bottom-left2{
	padding:0;
}
.globe span{
	background: url(../images/img-sp.png) no-repeat 22px -81px;
    display: block;
    width: 128px;
    height: 128px;
    border: 1px solid #3F647D;
    border-radius: 100%;
}
.banner-bottom-left1-grid h3{
	margin: 1.5em 0 0;
    color: #fff;
    font-size: 3em;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}
.banner-bottom-left1-grid h3 span{
	font-size: .3em;
    display: block;
    margin-bottom: 1em;
}
.progress1 {
    height: 2px;
    margin-bottom: 0;
    border-radius: 0;
    margin: 1.5em 0 0;
}
.progress-bar1 {
    background: #eb6f63;
}
.banner-bottom-left1-grid p{
	margin:2em 0 5em;
	color:#fff;
	font-size:14px;
	line-height:1.8em;
}
.banner-bottom-left2 h3{
	padding:2.5em 3em 0;
    font-size: 1.8em;
    color: #212121;
    margin: 0;
    line-height: 1.6em;
    position: relative;
    font-family: 'Open Sans', sans-serif;
	font-weight:400;
}
.banner-bottom-left2 h3:before{
	background: url(../images/img-sp.png) no-repeat -20px -232px;
    display: block;
    width: 40px;
    height: 40px;
    content: '';
    position: absolute;
    top: 31%;
    left: 5%;
}
/*-- effect --*/
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: none;
	overflow: hidden;
	margin: 0;
    min-width: 273px;
	max-width: 100%;
	max-height: auto;
	width: 100%;
	height: auto;
	background: #3085a3;
	text-align: center;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/***** Lexi *****/
/*---------------*/

figure.effect-lexi {
	background: -webkit-linear-gradient(-45deg, #000 0%,#fff 100%);
	background: linear-gradient(-45deg, #000 0%,#fff 100%);
}

figure.effect-lexi img {
	margin: -10px 0 0 -10px;
	max-width: none;
	width: -webkit-calc(100% + 10px);
	width: calc(100% + 10px);
	opacity: 0.9;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(10px,10px,0);
	transform: translate3d(10px,10px,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-lexi figcaption::before,
figure.effect-lexi p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-lexi figcaption::before {
	position: absolute;
    left: -40px;
    bottom: -60px;
    width: 330px;
    height: 330px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 900px rgba(255,255,255,0.2);
    content: '';
    opacity: 0;
    -webkit-transform: scale3d(0.5,0.5,1);
    transform: scale3d(0.5,0.5,1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
figure.effect-lexi figcaption.lexifig::before {
	right: -40px;
    left: auto;
}

figure.effect-lexi:hover img {
	opacity: 0.6;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lexi h4 {
	font-size: 1.5em;
    text-transform: capitalize;
    text-align: left;
    padding: .5em 1em;
    background: #fff;
    width: 66%;
    text-align: left;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(5px,5px,0);
    transform: translate3d(5px,5px,0);
    color:#222;
}

figure.effect-lexi h4 span {
    color: #000;
}

figure.effect-lexi p {
	position: absolute;
    left: 0;
    bottom: 2%;
    padding: 0 0 1.5em 1em;
    width: 250px;
    text-align: left;
    opacity: 0;
    -webkit-transform: translate3d(20px,20px,0);
    transform: translate3d(20px,20px,0);
    font-size: .8em;
    line-height: 1.8em;
}

figure.effect-lexi1 p {
    right: 0;
    padding: 0 1em 1.5em 0 !important;
	left: auto;
}

figure.effect-lexi:hover figcaption::before {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-lexi:hover h4,
figure.effect-lexi:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-- //effect --*/
/*-- //banner-bottom --*/
/*-- banner-bottom1 --*/
.banner-bottom-lft1 h3{
	font-size: 5em;
    color: #3F5A6D;
    margin: 0;
}
.banner-bottom-left1,.banner-bottom-lft1{
	padding:2.17em 4em 4em;
	background:#3598dc;
}
.banner-bottom-lft1 h4{
	font-size:1.7em;
    color: #fff;
    text-align: right;
    margin: 1em 0 0em;
    font-weight: 400;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;
}
.progress2 {
    margin:1em 0 0;
}
.banner-bottom-lft1 p{
	margin:2.5em 0 0;
	color:#E4E4E4;
	font-size:14px;
	line-height:1.8em;
}
h4.with{
	text-align:left;
}
p.exercise{
	text-align:right;
}
/*-- //banner-bottom1 --*/
/*-- banner-bottom-slider --*/
.banner-bottom-slider,.gallery,.services,.about,.testimonials,.history,.typo,.contact,.single{
	padding:5em 0;
}
.banner-bottom-slider-left h3{
	font-size: 1.3em;
    color:#222;
	margin:0;
	line-height:1.5em;
}
.banner-bottom-slider-left h3 span{
	display: block;
    font-size: 1.5em;
    color: #eb6f63;
    font-weight: 600;
    margin: .3em 0 0.5em;
    font-family: 'Open Sans', sans-serif;
}
.banner-bottom-slider-left p{
	margin:0;
	line-height:1.8em;
	color:#999;
	font-size:14px;
}
.banner-bottom-slider-right1 ul{
	padding:.7em .5em; 
	background:#3598DC;
}
.banner-bottom-slider-right1 ul li{
	display: inline-block;
    margin: 0;
    margin-left: 1.3em;
    float: none;
}
.banner-bottom-slider-right1 ul li a{
	font-size:1em;
	color:#fff;
	text-decoration:none;
}
.banner-bottom-slider-right1 ul li a:hover{
	color:#212121;
}
.banner-bottom-slider-right1 p{
	margin:1em 0 0;
	color:#999;
	font-size:14px;
	line-height:1.8em;
	text-transform: capitalize;
}
.banner-bottom-slider-right1 p span{
	font-size:1.5em;
}
.banner-bottom-slider-right1{
	padding-left:.5em;
}
.banner-bottom-slider-right {
    padding-right: 0;
}
/*--flexisel--*/
.flex-slider{	
background:#222227;
padding: 70px 0 165px 0;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
	border-right:none;
}
.nbs-flexisel-item {
	float: left;
    margin: 0;
    padding: 0em;
    position: relative;
    line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 50px;
    height: 50px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
	left: -51%;
    top: 80% !important;
    background: url(../images/img-sp.png) no-repeat -6px -300px;
}
.nbs-flexisel-nav-right {
	right: 137%;
    top: 80% !important;
    background: url(../images/img-sp.png) no-repeat -69px -300px;
}
/*--//flexisel--*/
/*-- //banner-bottom-slider --*/
/*-- footer --*/
.footer{
	background:#212121;
}
.footer-grid h2 a{
	margin:.5em 0 1em;
	font-size:1.6em;
	color:#3598DC;
	text-decoration:none;
}
.footer-grid h4 {
	font-size:1.7em;
	color:#fff;
	margin:0 0 2em;
	position:relative;
}
.footer-grid h4:after {
	background: #fff;
    width: 20%;
    height: 2px;
    content: '';
    position: absolute;
    bottom: -15%;
    left: 0%;
}
.footer-grid h2{
	padding:1em 0 0;
}
.footer-grid h4 {
    padding: 2em 0 0;
}
.footer-grid h2 a span{
	font-size: .3em;
    color: #D6D6D6;
    display: block;
}
.footer-grid p{
	font-size:14px;
	color:#999;
	margin:1.5em 0;
	line-height:1.8em;
}
.footer-grid ul li{
	list-style-type: none;
    margin-bottom: 1em;
    font-size: 14px;
    line-height: 1.8em;
    color: #999;
    padding-left: 1em;
}
.footer-grid ul li span{
	left:-1em;
}
.footer-grid ul li a{
	color:#999;
}
.footer-grid ul li a:hover{
	color:#fff;
}
.footer-grid1{
	float:left;
	width:31.45%;
	margin:0 0.3em .3em 0em;
}
.footer-grid2 ul.timings{
	padding:0 0 1.5em;
}
.footer-grid2 ul.timings li{
	font-size:14px;
	color:#999;
	margin-bottom:.5em;
	padding-bottom:.5em;
	border-bottom:1px dotted #999;
	list-style-type:none;
	padding-left: 0;
}
.footer-grid2 ul.timings li i{
	padding:0 2em;
}
.footer-copy{
	padding:1.5em 0;
	background:#141414;
	text-align:center;
}
.footer-copy p{
	font-size:14px;
	color:#8F8F8F;
	margin:0;
	line-height:1.8em;
}
.footer-copy p a{
	color:#fff;
	text-decoration:none;
}
.footer-copy p a:hover{
	color:#8F8F8F;
}
.social-icons1{
	padding:0 !important;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- gallery --*/
.gallery-grid1{
	position:relative;
}
.gallery-grid1 .p-mask, .row .product .vm-product-media-container .p-mask {
    opacity: 0;
    visibility: hidden;
    background:rgba(235, 111, 99, 0.74);
    bottom: 0%;
    position: absolute;
    padding:1.5em 1.5em;
    width: 100%;
    -webkit-transform: translate3d( 0px, 100%, 0px );
    -moz-transform: translate3d( 0px, 100%, 0px );
    -ms-transform: translate3d( 0px, 100%, 0px );
    -o-transform: translate3d( 0px, 100%, 0px );
    transform: translate3d( 0px, 100%, 0px );
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    text-align: left;
}
.gallery-grid1 .p-mask .p-desc{
    color: #a3a3a3;
    position: relative;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 1em;
}
.gallery-grid1:hover .p-mask, .row .product:hover .p-mask {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d( 0px, 0px, 0px );
    -moz-transform: translate3d( 0px, 0px, 0px );
    -ms-transform: translate3d( 0px, 0px, 0px );
    -o-transform: translate3d( 0px, 0px, 0px );
    transform: translate3d( 0px, 0px, 0px );
}
.p-mask h4{
	color:#fff;
	font-size:1.5em;
	text-decoration:none;
	line-height:1.8em;
}
.p-mask p{
	margin: 0;
    color: #f5f5f5;
    line-height: 1.8em;
    font-size: 14px;
}
.gallery h3,.services h3,.offered-services h3,.testimonials h3,h3.title{
	font-size: 2.5em;
    color:#3598DC;
    margin: 0;
    padding-bottom: 1em;
    text-align: center;
    position: relative;
}
.gallery h3:before,.services h3:before,.offered-services h3:before,.testimonials h3:before,h3.title:before{
	background:#3598DC;
    width: 20%;
    height: 3px;
    content: '';
    position: absolute;
    bottom: 15%;
    left: 34%;
}
p.dummy-text{
	font-size: 14px;
    margin: 0;
    line-height: 1.8em;
    color: #999;
    text-align: center;
    padding-left: 23em;
    text-transform: capitalize;
}
.gallery-grids,.services-grids,.offered-services-grids,.testimonials-grids{
	margin:3em 0 0;
}
.gallery-grid{
	float:left;
	width:37%;
}
.gallery-grid-sub{
	float: left;
    width: 61.9%;
    margin: 0 0em 0 0.5em;
}
.gallery-grid-sub1{
	float:left;
	width:30.5%;
}
.gallery-grid2{
	float:left;
	width:68.8%;
	margin-right: .5em;
}
.gallery-grid1:nth-child(2) {
    margin: .5em 0;
}
.gallery-grid1 img:hover{
	opacity:0.7;
}
/*-- //gallery --*/
/*-- services --*/
.services-grid{
	position:relative;
}
.blog-figure {
    position: relative;
    overflow: hidden;
}
.blog-discription{
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.blog-discription {
    text-align: center;
    position: absolute;
    bottom: 0;
    opacity: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.80);
    color: #fff;
}
.theme-border {
    height: 100%;
    width: 100%;
    border: 2px;
    border: 1px solid rgba(255,255,255,.5);
    position: relative;
}
.tg-display-table {
    width: 100%;
    height: 100%;
    display: table;
}
.tg-display-table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.blog-title {
    padding:2em 1em;
}
.blog-figure h4{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.blog-title h4 {
    font-weight: bold;
    color: #fff;
    position: relative;
    right:0%;
	font-size: 1.5em;
}
.blog-title h4 a{
	color:#fff;
}
.blog-title h4:before {
    background: #fff;
    content: "";
    position: absolute;
    margin: 0 0 0 -21px;
    width: 40px;
    left: 50%;
    bottom: -5px;
    height: 1px;
}
.blog-title h4 a {
    color: #fff;
}
.blog-figure .blod-meta {
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}
.blod-meta {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: relative;
    right: 120%;
    padding: 0 0 10px;
    margin:1em 0;
}
.blod-meta::before {
    content: "";
    position: absolute;
    margin: 0 0 0 -27px;
    width: 40px;
    background: #b3b3b3;
    left:47%;
    bottom: 0;
    height: 1px;
}
.blod-meta li {
    float: left;
	font-size: 13px;
}
.blod-meta li a{
	color:#fff;
}
.blod-meta li:first-child::before {
    content: "";
    margin: 0;
}
.blod-meta li::before {
    content: "|";
    margin: 0 10px;
}
.blog-title p {
    color: #fff;
    margin: 0;
    position: relative;
    right: 120%;
	font-size: 13px;
    line-height: 1.8em;
}
.blog-figure p {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.blog-figure:hover .blog-discription {
    opacity: 1;
}
.blog-figure:hover h3, .blog-figure:hover .blod-meta, .blog-figure:hover p {
    right: 0;
}
.services-grid h5 a{
	margin:1em 0 2em;
	color:#999;
	font-size:1.8em;
	line-height:1.5em;
	display:block;
	text-decoration:none;
}
.services-grid h5 a:hover{
	color:#6B8FA8;
}
.offered-services-grid1{
	text-align:right;
}
.panel-title{
	text-transform: capitalize;
    font-size: 1.4em;
    color: #999;
    margin: 0 0 1em;
    line-height: 1.5em;
    background: url(../images/1.png) no-repeat 310px 4px;
    padding-right: 3em;
}
.panel-title a{
	color:#222;
	text-decoration: none;
}
.panel-title a:hover{
	color:#3598DC;
}
.offered-services{
	padding:5em 0 0;
}
.panel-heading p{
	margin:1em 0;
	color:#999;
	font-size:14px;
	line-height:1.8em;
}
.panel-group .panel + .panel {
    margin-top: 0;
}
.panel-default:nth-child(2){
	padding:2em 0;
	margin:2em 0 !important;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
}
.panel {
    border-radius: 0;
}
.panel-default > .panel-heading {
    color: #333;
    background: none;
    border: none;
}
.panel-heading {
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-default {
    border: none;
}
.panel {
    -webkit-box-shadow:none;
    box-shadow: none;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
    box-shadow: 0px 0px 3px #D8D8D8;
	font-size: 14px;
    line-height: 1.8em;
	color: #EB6F63;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    text-align: right;
}
.panel1{
	text-align:left !important;
}
.panel-title1{
	padding-left:3em !important;
	padding-right:0 !important;
	background: url(../images/1.png) no-repeat 0 1px;
}
/*-- //services --*/
/*-- about ---*/
.about-grid {
    text-align: center;
}
.about-grid img{
    margin:0 auto;
}
.about-grid-pos{
	padding:1em;
	background:#EAEAEA;
	width:80%;
	margin:0 auto;
	position:relative;
}
.about-grid-pos:after{
	background: url(../images/2.png) no-repeat -0px 0px;
    background-size: 93%;
    display: block;
    width: 1054px;
    height: 23px;
    content: '';
    position: absolute;
    bottom: -18%;
    left: -5%;
}
.about-grid-pos p{
	text-transform:capitalize;
	font-size:2em;
	color:#999;
	margin:0;
	line-height:1.5em;
}
.about-grid-pos p span{
	color:#3598DC;
}
.about-grid1-grids{
	margin:5em 0 0;
}
.about-grid1-grids p,.history-left p{
	margin: 0em 0 3em;
    color: #999;
    font-size: 14px;
    line-height: 1.8em;
    padding-left: 2em;
}
.about-grid1-grids h3,.history-left h3,.contact-left1 h3,.mail h3,.contact-right h3{
	font-size: 2em;
    color:#EB6F63;
    margin:0;
    line-height: 1.5em;
    padding-left:0.8em;
    position: relative;
}
.about-grid1-grids h3:before,.history-left h3:before,.contact-right h3:before,.contact-left1 h3:before,.mail h3:before{
	background:#3598DC;
    width: 4px;
    height: 41px;
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
}
.pro {
    height: 3px;
    margin: 0;
	background:#fff;
}
.pro1{
	padding:.5em;
	background:#E2E2E2;
	float:left;
	width:85%;
}
.pro2{
	float:right;
	width:15%;
}
.pro2 p{
	font-size:1em;
	color:#999;
	margin:0;
	text-align: right;
}
.pro-bar {
    background: #EB6F63;
}
.about-grid1:nth-child(2){
	margin:2em 0;
}
.testimonials-grid1{
	padding:.5em;
	background:#D2D0D0;
	text-align:center;
}
.testimonials-grid2 {
    border:1px solid #B2B2B2;
    padding: 2em;
}
.testimonials-grid2-social-icons {
    padding:2em 0 0 !important;
}
.testimonials-grid1 h4{
	font-size:1.7em;
	color:#222;
	margin:0;
	line-height: 1.5em;
}
.testimonials-grid1 p{
	font-size:14px;
	color:#999;
	margin:1em 0;
	line-height:1.8em;
}
.testimonials-grid img {
    margin: 0 auto;
}
.testimonials-grid2 h5{
	font-size:1em;
	color:#6B8FA8;
	margin:1em 0 0;
}
.history-left h4{
	font-size: 1em;
    color: #999;
    margin: 0;
    line-height: 1.8em;
    font-family: 'Open Sans', sans-serif;
}
/*-- //about ---*/
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#EB6F63;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.list-group {
  margin-bottom: 48px;
}
 ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.caption span {
		margin: 0 0 1.5em;
	}
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*--//Typography --*/
/*-- contact --*/
.contact-left1{
	padding-left:0;
}
.contact-left2{
	padding:0;
}
.contact-left1 iframe{
	width:100%;
	min-height:300px;
	margin:2em 0 0;
}
.contact-left2 h4 {
    margin: 3em 0 1em;
    color: #EB6F63;
    font-size: 1.5em;
    line-height: 1.5em;
}
.contact-left2 ul li{
	list-style-type:none;
	margin-bottom:1em;
	font-size:14px;
	line-height:1.8em;
	color:#999;
}
.contact-left2 ul li span{
	font-size:1em;
	color:#000;
	padding-right:1em;
}
.contact-left2 ul li a{
	color:#999;
	text-decoration:none;
}
.contact-left2 ul li a:hover{
	color:#000;
}
.mail{
	margin:4em 0 0;
}
.mail form{
	margin:2em 0 0;
}
.mail input[type="text"],.mail input[type="email"],.mail textarea{
	outline: none;
    width: 49.4%;
    background: #F3F3F3;
    padding: 10px;
    border: 1px solid #D9D9D9;
    font-size: 14px;
    color: #999;
}
.mail input[type="email"]{
	margin-left:.3em;
}
.mail input[type="text"]:nth-child(3){
	margin:.5em 0;
	width:100% !important;
}
.mail textarea{
	min-height:200px;
	width:100% !important;
}
.mail input[type="submit"]{
	outline:none;
	width:30%;
	background:#3598DC;
	padding:10px 0;
	border:none;
	font-size:14px;
	color:#fff;
	margin-left: 36.5em;
}
.mail input[type="submit"]:hover{
	background:#EB6F63;
}
.contact-right p{
	font-size:14px;
	color:#999;
	margin:2em 0 0 2em;
	line-height:1.8em;
}
.contact-right1{
	margin:3em 0 0;
	position:relative;
}
.contact-right1-pos{
	position: absolute;
    top: 5%;
    left: 6.5%;
    padding: 1em;
    border: 1px solid #fff;
    width: 87%;
    min-height: 89%;
}
.contact-right1 img {
    border: 1px solid #D6D6D6;
    padding: .7em;
}
.contact-right1-pos1 p{
	font-size:1.2em;
	color:#fff;
	text-transform:uppercase;
	margin:0;
	line-height:1.5em;
	text-align:center;
}
.contact-right1-pos1 p span{
	font-size: 1.5em;
    display: block;
}
/*-- //contact --*/
/*-- single --*/
.single-left{
	padding-left:2em;
	border-left:1px solid #999;
}
.comments ul li{
	display:inline-block;
	margin-right:2em;
	color:#999;
	font-size:1em;
	padding-left:1em;
	font-family: 'Bad Script', cursive;
}
.comments ul li a{
	color:#999;
	text-decoration:none;
}
.comments ul li a:hover{
	color:#EB6F63;
}
.comments ul li span {
    left: -.7em;
}
.single-left h3{
	margin: 2em 0;
    color:#3598dc;
    font-size: 1.4em;
    padding-left: 1.5em;
    line-height: 1.8em;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.single-left h3:before{
	position: absolute;
    top: 0%;
    left: 0%;
    width: 5px;
    height: 115px;
    background: #999;
    content: '';
}
.single-left1 h5{
	font-size:1.5em;
	color:#EB6F63;
	margin:0 0 2em;
	line-height:1.5em;
}
.single-left1-grid,.single-left3-grid{
	padding-left:0;
}
.single-left1-grid p,.single-left3 p{
	font-size:14px;
	color:#999;
	margin:0;
	line-height:1.8em;
}
.single-left1-grid p span{
	display:block;
	margin:2em 0 0;
}
.single-left2{
	margin:2em 0;
}
.single-left2 h4{
	font-size:1em;
	color:#999;
	margin:0 0 2em;
	line-height:1.8em;
}
.single-left3-grids{
	margin:2em 0 0;
}
.single-left3-grid p{
	padding: 1em;
    background: #F5F5F5;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 0;
    color: #999;
    text-align: center;
}
.admin{
	margin:3em 0;
	background:#F5F5F5;
	padding:2em;
	border-left:5px solid #999;
}
.admin-left{
	width:15%;
	float:left;
}
.admin-right{
	float:right;
	width:80%;
}
.admin-right ul li{
	display:inline-block;
}
.admin-right ul li a{
	font-size:1em;
	color:#EB6F63;
	text-decoration:none;
}
.admin-right ul li a:hover{
	color:#000;
}
.admin-right ul li i {
    padding: 0 1em;
}
.admin-right p{
	margin:1em 0 0;
	color:#999;
	line-height:1.8em;
	font-size:14px;
}
.comments-admin h4{
	font-size:2em;
	color:#EB6F63;
	margin:0;
}
.comments-admin-grids{
	margin:3em 0 0;
}
.comments-admin-grid-left{
	float:left;
	width:20%;
}
.comments-admin-grid-right{
	float:right;
	width:75%;
}
.comments-admin-grid-right p{
	font-size:14px;
	color:#999;
	line-height:1.8em;
	margin:0;
}
.reply{
	margin:1.5em 0 0;
}
.reply a{
	font-size:1em;
	color:#6B8FA8;
	text-decoration:none;
}
.reply a:hover{
	color:#999;
}
.comments-admin-grid:nth-child(2){
	margin:2em 0;
}
.search1 input[type="text"] {
	border: 1px solid #E7E7E7;
    outline: none;
    width: 100%;
    background: none;
    color: #999;
    padding: 10px;
    font-size: 14px;
}
.search1 input[type="submit"] {
	background:#3598dc;
    color: #fff;
    font-size: 1em;
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    border: none;
    outline: none;
    width: 50%;
    padding: 8px 0;
    margin: 1em 0 3em;
}
.search1 input[type="submit"]:hover{
	background:#EB6F63;
	color:#fff;
}
.categories ul {
  padding: 0;
  margin: 0;
}
.categories ul li {
	list-style-type: none;
    background: url(../images/1.png) no-repeat -4px -6px;
    display: block;
    padding-left: 4em;
    margin: 1.5em 0;
    color: #999;
    font-size: 14px;
}
.categories ul li a {
	color: #999;
	text-decoration:none;
	letter-spacing:1px;
}
.categories ul li a:hover{
	text-decoration:none;
	color: #000;
}
.categories-mid {
  margin: 5em 0 0;
}
.categories h3,.related-posts h3,.search1 h3 {
	color:#F07818;
    font-size: 1.3em;
    text-transform: capitalize;
    margin: 0 0 1em;
}
.related-post-left{
	float:left;
	width:30%;
}
.related-post-right{
	float:right;
	width:65%;
}
.related-post{
	margin:2.5em 0;
}
.categories-mid ul li:nth-child(6) {
  margin-bottom: 5em;
}
.related-post-right h4{
	margin:0 0 1em;
}
.related-post-right h4 a{
	color:#3598dc;
    font-size: 1em;
    text-transform: capitalize;
    text-decoration: none;
}
.related-post-right h4 a:hover{
	text-decoration:none;
	color:#000;
}
.related-post-right p {
	color: #999;
    font-size: 14px;
    margin: 1em 0 0;
    font-style: normal;
    line-height: 1.8em;
}
.leave-a-comment {
    margin: 5em 0 0;
}
.leave-a-comment input[type="text"],.leave-a-comment input[type="email"],.leave-a-comment textarea{
	padding: 10px 10px;
    background: none;
    font-size: 14px;
    outline: none;
    border: 1px dotted #A9A9A9;
    color: #999;
	width:32.25%;
	}
.leave-a-comment textarea{
	resize:none;
	min-height:200px;
	width:100% !important;
	margin:1.5em 0;
	}
.leave-a-comment input[type="submit"]{
	background:#3598dc;
    color: #fff;
    font-size: 1em;
    outline: none;
    border: none;
    width: 30%;
    display: block;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    padding: 10px 0;
	}
.leave-a-comment input[type="submit"]:hover{
	background:#EB6F63;
	}
.leave-a-comment input[type="email"] {
    margin: 0 1em;
}
.leave-a-comment h3 {
    font-size: 2em;
    color: #EB6F63;
    margin: 0 0 2em;
}
/*-- //single --*/
/*-----start-responsive-design------*/
@media (max-width:1680px){
	.banner-bottom-left1{
		padding:6.17em 4em 6em;
	}
	.banner-bottom-lft1 {
		padding:2.97em 4em 6em;
	}
	.progress2 {
		margin: 1.6em 0 0;
	}
	.banner-bottom-left2 h3 {
		padding: 1.5em 3em 0;
	}
	.top-nav {
		right: 16%;
		top: 4%;
	}
}
@media (max-width:1600px){
	.banner-bottom-left1, .banner-bottom-lft1 {
		padding:3.456em 4em 5em;
	}
	.banner-bottom-lft1 {
		padding: 2em 4em 6em !important;
	}
	.progress2 {
		margin: 1em 0 0;
	}
	.banner-bottom-left2 h3 {
		padding:1.5em 3em 0;
	}
	.top-nav {
		right: 14%;
		top:4%;
	}
}
@media (max-width:1440px){
	.top-nav {
		right: 10%;
	}
	.banner {
		background: url(../images/1.jpg) -90px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.banner-bottom-left1-grid h3 {
		font-size:3.4em;
	}
	.banner-bottom-lft1 {
		padding:1em 2em 2.04em;
	}
	figure.effect-lexi h4 {
		width: 75%;
	}
	.banner-bottom-left1, .banner-bottom-lft1 {
		padding: 3.456em 3em 4em;
	}
	.banner-bottom-left2 h3 {
		padding: 2.5em 3em 0;
	}
	.banner-bottom-lft1 {
		padding: 1em 2em 3.85em !important;
	}
	.banner1 {
		background: url(../images/19.jpg) -52px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
}
@media (max-width:1366px){
	.banner1 {
		background: url(../images/19.jpg) -100px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.banner-info {
		padding: 0em 0 0;
	}
	.banner {
		background: url(../images/1.jpg) -50px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 730px;
	}
	.banner-bottom-left1-grid h3 {
		font-size:3.1em;
	}
	.banner-bottom-left2 h3 {
		font-size: 1.8em;
	}
	.banner-bottom-left1{
		padding: 2.17em 3em 4em;
	}
	.banner-bottom-lft1 h4 {
		font-size: 1.5em;
	}
	.banner-bottom-lft1 h3 {
		font-size: 4em;
	}
	figure.effect-lexi h4 {
		width: 79%;
	}
	.banner-bottom-lft1 {
		padding: 1em 2em 2.95em !important;
	}
}
@media (max-width:1280px){
	.banner-bottom-lft1 h3 {
		font-size: 3em;
	}
	.banner-bottom-left1-grid h3 {
		font-size: 2.9em;
	}
	.banner {
		background: url(../images/1.jpg) -90px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.banner-bottom-lft1 h4 {
		font-size: 1.5em;
	}
	.banner-bottom-lft1 {
		padding:1em 2em 2.45em !important;
	}
	figure.effect-lexi h4 {
		font-size: 1.3em;
	}
	.banner-bottom-left1-grid h3 {
		margin: 1em 0 0;
	}
	.banner-bottom-lft1 p {
		margin: 2.4em 0 0;
	}
	.gallery h3:before, .services h3:before, .offered-services h3:before, .testimonials h3:before, h3.title:before {
		bottom: 24%;
	}
	.banner1 {
		background: url(../images/19.jpg) -135px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
}
@media (max-width:1080px){
	.top-nav {
		right: 4%;
	}
	ul.nav1 {
		right: -20%;
	}
	.header-left1 h1 a {
		font-size: 1.7em;
	}
	.banner-info h3 {
		font-size: 2em;
	}
	.banner-info {
		padding: 8em 0 0;
	}
	.banner {
		background: url(../images/1.jpg) -125px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 645px;
	}
	.header-left1 {
		margin-left: 10em;
	}
	.header-left input[type="text"] {
		width: 85%;
	}
	.header-left input[type="submit"] {
		width: 15%;
	}
	.banner-bottom-left1-grid h3 {
		font-size:2.3em;
	}
	.banner-bottom-left2 h3 {
		padding: 2.5em 4em 0;
		font-size:1.5em;
	}
	figure.effect-lexi figcaption::before {
		width: 260px;
		height: 260px;
	}
	figure.effect-lexi p {
		bottom: -3%;
		width: 155px;
		font-size: 13px;
	}
	.banner-bottom-left1 {
		padding: 2em 2em 5em;
	}
	.banner-bottom-left1-grid p {
		margin: 2em 0 3em;
	}
	.m1 a {
		padding: 6px 175px 10px !important;
	}
	.banner-bottom-lft1 h4 {
		font-size:1.3em;
	}
	.banner-bottom-left1 {
		padding: 2em 2em 3em;
	}
	.banner1 {
		background: url(../images/19.jpg) 0px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.banner-bottom-lft1 h3 {
		font-size: 3em;
	}
	.banner-bottom-lft1 p {
		margin: 1em 0 0;
	}
	.banner-bottom-left {
		width: 6%;
	}
	.banner-bottom-left2 {
		width: 68.33%;
	}
	.banner-bottom1-left2{
		width: 58.33% !important;
	}
	.banner-bottom-lft1 {
		padding:1.4em 2em 4em !important;
		width: 35.66%;
	}
	.banner-bottom-slider-left h3 span {
		font-size: 1.5em;
	}
	figure.effect-lexi h4 {
		width: 80%;
	}
	.banner-bottom-slider-right {
		padding: 0;
	}
	.banner-bottom-slider-right1 ul li a {
		font-size: 14px;
	}
	.banner-bottom-slider-right1 p span {
		font-size: 1.14em;
	}
	.footer-grid h2 a {
		font-size: 1.3em;
	}
	.footer-grid1 {
		margin: 0 0.2em .3em 0em;
	}
	.footer-grid {
		padding-left: 0;
	}
	.footer-grid p {
		font-size: 12px;
	}
	.footer-grid h4 {
		padding: 1em 0 0;
	}
	.about-grid-pos:after {
		background: url(../images/2.png) no-repeat -0px 0px;
		background-size: 76%;
	}
	.testimonials-grid1 h4 {
		font-size: 1.4em;
	}
	.about-grid1-grids p, .history-left p {
		margin: 0em 0 2em;
	}
	.banner-bottom-slider, .gallery, .services, .about, .testimonials, .history, .typo, .contact, .single {
		padding: 4em 0;
	}
	.banner1 {
		min-height: 260px;
	}
	.blog-title {
		padding: 1.5em 0.5em;
	}
	.blod-meta li::before {
		margin: 0 1px;
	}
	.blod-meta {
		padding: 0 0 10px;
		margin: 1em 0 0em;
	}
	.blog-title p {
		font-size: 12px;
	}
	.services-grid h5 a {
		font-size: 1.5em;
	}
	.panel-title {
		font-size: 1.1em;
		background: url(../images/1.png) no-repeat 242px -2px;
	}
	.panel-title1 {
		background: url(../images/1.png) no-repeat 0 1px !important;
	}
	.panel-default:nth-child(2) {
		margin: 1em 0 !important;
	}
	.comments ul li {
		margin-right: 1em;
	}
	.single-left h3 {
		font-size: 1.2em;
	}
	.single-left h3:before {
		height: 100%;
	}
	.single-left3-grid p {
		font-size: 14px;
	}
	.leave-a-comment input[type="text"], .leave-a-comment input[type="email"], .leave-a-comment textarea {
		width: 32.04%;
	}
	.leave-a-comment h3 {
		margin: 0 0 1em;
	}
	.gallery-grid-sub {
		width: 61.5%;
	}
	.gallery-grid2 {
		width: 68.5%;
	}
	.mail input[type="text"], .mail input[type="email"], .mail textarea {
		width: 49.3%;
	}
	.mail input[type="submit"] {
		margin-left: 29.8em;
	}
	.about-grid-pos:after {
		background: url(../images/2.png) no-repeat -0px 0px;
		background-size: 101%;
		width: 800px;
	}
}
@media (max-width: 1024px){
	.banner-bottom-left1 {
		padding: 2em 2em 3em;
	}
	.banner-bottom-lft1 {
		padding:1em 2em 2.45em !important;
	}
	.gallery-grid1 .p-mask, .row .product .vm-product-media-container .p-mask {
		padding: 1em;
	}
	.banner-bottom-lft1 h4 {
		font-size: 1.14em;
	}
	.banner-bottom-slider-left h3 span {
		font-size: 1.4em;
	}
	.nbs-flexisel-nav-right {
		right: 134%;
	}
}
@media (max-width:991px){
	.top-nav {
		right: 13%;
	}
	.p-mask h4 {
		font-size: 1em;
		line-height: 1.5em;
	}
	.p-mask p {
		line-height: 1.5em;
		font-size: 13px;
	}
	.header-left {
		width: 35%;
	}
	.banner-info h3 {
		width: 70%;
	}
	.header-left1 {
		margin-left: 5em;
	}
	.more a {
		padding: 5px 110px;
	}
	.type-4 span {
		padding: 11px 0;
	}
	.banner {
		background: url(../images/1.jpg) -163px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.social-icons {
		padding: 5em 0 0;
	}
	.banner-bottom-left1 {
		float: none;
		width: 70%;
		margin: 0 auto;
		padding: 3em 3em 4em;
	}
	.banner-bottom-left2 {
		float: none;
		margin: 0 auto;
		width: 70%;
	}
	.banner-bottom-left2 h3 {
		padding: 2em 3em 2em;
	}
	.banner-bottom-left2 h3:before {
		top: 24%;
		left: 1%;
	}
	.banner-bottom1-left2 {
		width: 70% !important;
	}
	.banner-bottom-lft1 {
		padding: 1em 3em 3em;
		float: none;
		width: 70%;
		margin: 0 auto 2em;
	}
	.banner-bottom-lft1:nth-child(6){
		margin:0 auto;
	}
	.banner-bottom-slider-left {
		margin: 0 0 2em;
	}
	.banner-bottom-slider-right1 p span {
		font-size: 1.5em;
	}
	.footer-grid {
		float: left;
		width: 50%;
		padding: 00 1em;
	}
	.footer-grid:nth-child(1) img {
		width: 55%;
	}
	.footer-grid h4 {
		padding: 0;
	}
	.footer-grid:nth-child(2){
		margin:0 0 2em;
	}
	.about-grid img {
		width: 70%;
	}
	.about-grid-pos p {
		font-size: 1.7em;
	}
	.about-grid-pos {
		width: 100%;
	}
	.about-grid-pos:after {
		background: url(../images/2.png) no-repeat -0px 0px;
		background-size: 96%;
		width: 805px;
	}
	.about-grid1-grids p {
		margin: 0;
	}
	.about-grid1-grid:nth-child(3) {
		margin: 3em 0 2em;
	}
	.gallery h3, .services h3, .offered-services h3, .testimonials h3, h3.title {
		font-size: 2.2em;
	}
	.gallery h3:before, .services h3:before, .offered-services h3:before, .testimonials h3:before, h3.title:before {
		width: 30%;
		left: 22%;
	}
	.testimonials-grid {
		float: left;
		width: 33.33%;
	}
	.history-right {
		margin: 2em 0 0;
	}
	figure.blog-figure img {
		width: 100%;
	}
	.services-grid:nth-child(2) {
		margin: 3em 0;
	}
	.services-grid h5 a {
		margin: 1em 0 1.5em;
	}
	.offered-services {
		padding: 3em 0 0;
	}
	.panel-group .panel {
		text-align: left;
	}
	.panel-title1 {
		background: url(../images/1.png) no-repeat 0 -3px !important;
	}
	.offered-services-grid1 {
		margin: 3em 0;
	}
	.gallery-grid2 {
		width: 68%;
	}
	.gallery-grid-sub {
		width: 61.3%;
	}
	.search1 input[type="submit"] {
		margin: 1em 0 0;
	}
	.categories {
		margin: 3em 0;
	}
	.categories-mid ul li:nth-child(6) {
		margin-bottom: 0;
	}
	.single-left {
		margin: 3em 0 0;
	}
	.single-left1-grid:nth-child(2) {
		margin: 2em 0;
	}
	.single-left2 {
		margin: 0 0 2em;
	}
	.single-left3-grid {
		float: left;
		width: 50%;
	}
	.leave-a-comment input[type="text"], .leave-a-comment input[type="email"], .leave-a-comment textarea {
		width: 31.65%;
	}
	.mail input[type="submit"] {
		margin-left: 34.6em;
	}
	.contact-right1-pos {
		left: 3.5%;
		width: 55%;
		min-height: 90%;
	}
}
@media (max-width:800px){
	.top-nav {
		right: 5%;
	}
	.about-grid-pos:after {
		background: url(../images/2.png) no-repeat -0px 0px;
		background-size: 100%;
		width: 770px;
	}
	.header-left1 h1 a {
		font-size: 1.4em;
	}
	.banner {
		background: url(../images/1.jpg) -217px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 610px;
	}
	.banner-bottom-left1,.banner-bottom-left2,.banner-bottom-lft1 {
		width: 90% !important;
	}
	.footer-grid:nth-child(1) img {
		width: 58%;
	}
}
@media (max-width:768px){
	.banner1 {
		background: url(../images/19.jpg) -102px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.banner-info p {
		width: 70%;
	}
	.testimonials-grid2 {
		padding: 1em;
	}
	.testimonials-grid1 h4 {
		font-size: 1.1em;
	}
	.single-left1 h5 {
		margin: 0 0 1em;
	}
}
@media (max-width:736px){
	.top-nav {
		top: 9%;
	}
}
@media (max-width:667px){
	ul.nav1 {
		width: 140px;
	}
	.banner-info h3 {
		font-size: 1.8em;
	}
	.banner-info p {
		width: 90%;
	}
	.banner {
		background: url(../images/1.jpg) -250px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 570px;
	}
	.header-left1 {
		margin-left: 6em;
	}
}
@media (max-width:640px){
	span.menu img {
		width: 75%;
	}
	.top-nav {
		top: 6%;
	}
	.p-mask h4 {
		font-size: 1.5em;
		line-height: 1.8em;
	}
	.header-left {
		width: 40%;
	}
	.header-left1 {
		margin-left: 4em;
	}
	.progress1 {
		height: 2px !important;
		margin-bottom: 0 !important;
	}
	.banner-bottom-left1-grid h3 {
		font-size: 2em;
	}
	.m1 a {
		padding: 0px 110px 10px !important;
	}
	.banner-bottom-left2 h3 {
		padding: 2em 2em 2em;
	}
	.banner-bottom-left2 h3:before {
		left: -1%;
	}
	figure.effect-lexi h4 {
		width: 85%;
	}
	.banner-bottom-slider, .gallery, .services, .about, .testimonials, .history, .typo, .contact, .single {
		padding: 3em 0;
	}
	.footer-grid:nth-child(1) img {
		width: 80%;
	}
	.about-grid-pos p {
		font-size: 1.4em;
	}
	.about-grid-pos:after {
		background: url(../images/2.png) no-repeat -0px 0px;
		background-size: 103%;
		width: 620px;
		bottom: -22%;
	}
	.pro {
		height: 3px !important;
		margin: 0 !important;
	}
	.banner1 {
		min-height: 185px;
	}
	.about-grid1:nth-child(2) {
		margin: 1em 0;
	}
	.pro2 p {
		font-size: 14px;
	}
	.about-grid1-grids h3, .history-left h3, .contact-left1 h3, .mail h3, .contact-right h3 {
		font-size: 1.7em;
	}
	.gallery h3, .services h3, .offered-services h3, .testimonials h3, h3.title {
		font-size: 2em;
	}
	p.dummy-text {
		padding-left: 15em;
	}
	.testimonials-grid1 h4 {
		font-size: 1.4em;
	}
	.testimonials-grid {
		padding-left: 0;
	}
	.footer-grid h4 {
		margin: 0 0 1em;
	}
	.footer-grid2 ul.timings {
		padding: 0 0 0.5em;
	}
	.single-left1-grid p span {
		display: inline;
		margin: 0;
	}
	.single-left2 {
		margin: 0;
	}
	.comments-admin h4,.leave-a-comment h3 {
		font-size: 1.7em;
	}
	.leave-a-comment input[type="text"], .leave-a-comment input[type="email"], .leave-a-comment textarea {
		width: 31.29%;
	}
	.leave-a-comment input[type="submit"] {
		font-size: 14px;
		width: 35%;
	}
	.gallery-grid2,.gallery-grid-sub1,.gallery-grid,.gallery-grid-sub {
		width: 100%;
		float: none;
	}
	.gallery-grid-sub1 {
		margin: .5em 0 0;
	}
	.gallery-grid1 img{
		margin:0 auto;
	}
	.gallery-grid1{
		width: 61%;
		margin: 0 auto;
	}
	.gallery-grid-sub {
		margin: 0;
	}
	.gallery-grid1:nth-child(2) {
		margin: .5em auto;
	}
	.mail {
		margin: 2em 0 0;
	}
	.mail input[type="text"], .mail input[type="email"], .mail textarea {
		width: 49.26%;
	}
	.mail input[type="submit"] {
		margin-left: 28em;
	}
	.contact-right1-pos {
		left: 3.5%;
		width: 69%;
		min-height: 92%;
		top: 4%;
	}
}
@media (max-width: 600px){
	.banner-info h3 {
		font-size: 1.5em;
	}
	.top-nav {
		top: 11%;
	}
}
@media (max-width:568px){
	.top-nav {
		top: 15%;
	}
	.top-nav ul li a {
		padding: 10px 10px;
	}
	.banner-info {
		padding: 5em 0 0;
	}
	.header-left1 h1 a {
		font-size: 1.2em;
	}
	.header-left1 {
		margin-left: 3em;
	}
	.header-left {
		width: 50%;
	}
}
@media (max-width:480px){
	.top-nav {
		top: 13%;
	}
	.top-nav ul li a {
		font-size: 13px;
	}
	.header-left {
		width: 75%;
		float: none;
		margin: 0 auto 2em;
	}
	.header {
		padding: 1em 0 0;
	}
	.header-left1 {
		margin-left: 1em;
	}
	.banner-info {
		padding: 3em 0 0;
	}
	.banner-info h3 {
		font-size: 1.3em;
		width: 80%;
	}
	.banner-info p {
		width: 100%;
	}
	.more a {
		padding: 4px 90px 8px;
		font-size: 14px;
	}
	.social-icons {
		padding: 4em 0 0;
	}
	.banner {
		background: url(../images/1.jpg) -267px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 510px;
	}
	.banner-bottom-left1, .banner-bottom-left2, .banner-bottom-lft1 {
		width: 95% !important;
	}
	figure.effect-lexi h4 {
		font-size: 1em;
	}
	.grid figure figcaption {
		padding: 1em;
	}
	.banner-bottom-left2 h3 {
		font-size: 1.2em;
	}
	.banner-bottom-left2 h3:before {
		background: url(../images/img-sp.png) no-repeat -7px -125px;
		background-size: 700%;
	}
	.banner-bottom-lft1 h4 {
		font-size: 1.2em;
	}
	.banner-bottom-lft1 {
		padding: 1em 2em 2em;
	}
	.banner-bottom-lft1 {
		margin: 0 auto 0.8em;
	}
	.banner-bottom-slider, .gallery, .services, .about, .testimonials, .history, .typo, .contact, .single {
		padding: 2em 0;
	}
	.footer-grid {
		float: none;
		width: 85%;
		padding: 0 1em;
	}
	.footer-grid:nth-child(2) {
		margin: 2em 0 3em;
	}
	.footer-grid h4 {
		font-size: 1.4em;
		margin: 0 0 2em;
	}
	.footer-grid h4:after {
		height: 1px;
		bottom: -50%;
	}
	.footer-grid:nth-child(3) {
		margin: 0em 0 3em;
	}
	.footer {
		padding: 0 0 1em;
	}
	.footer-copy {
		padding: 1em 0;
	}
	.about-grid-pos p {
		font-size: 1.2em;
	}
	.about-grid-pos:after {
		background: url(../images/2.png) no-repeat -0px 0px;
		background-size: 102%;
		width: 455px;
		bottom: -25%;
	}
	.about-grid1-grids {
		margin: 3em 0 0;
	}
	.about-grid1-grids h3, .history-left h3, .contact-left1 h3, .mail h3, .contact-right h3 {
		font-size: 1.5em;
	}
	.about-grid1-grid:nth-child(3) {
		margin: 2em 0 1em;
	}
	p.dummy-text {
		padding-left: 0;
	}
	.testimonials-grid {
		float: none;
		width: 80%;
		margin: 0 auto 1em;
	}
	.history {
		padding: 0 0 2em;
	}
	.about-grid1-grids p, .history-left p {
		padding-left: 1.5em;
	}
	.comments ul li {
		margin-bottom: 1em;
	}
	.single-left {
		padding-left: 1em;
		padding-right: 0;
	}
	.leave-a-comment input[type="text"], .leave-a-comment input[type="email"], .leave-a-comment textarea {
		width: 100%;
	}
	.leave-a-comment input[type="email"] {
		margin: 1em 0;
	}
	.leave-a-comment textarea {
		min-height: 150px;
		margin: 1em 0 .8em;
	}
	.leave-a-comment input[type="submit"] {
		width: 100%;
		padding: 8px 0;
	}
	.gallery-grid1 {
		width: 80%;
	}
	.contact-left1 iframe {
		min-height: 200px;
	}
	.contact-left2 h4 {
		margin: 1em 0 1em;
	}
	.mail input[type="text"], .mail input[type="email"], .mail textarea {
		width: 100%;
	}
	.mail input[type="email"] {
		margin: .5em 0 0;
	}
	.mail input[type="submit"] {
		margin: 0 0 2em;
	}
	.mail input[type="submit"] {
		width: 100%;
		padding: 8px 0;
	}
	.contact-right p {
		margin: 1em 0 0 1em;
	}
	.contact-right1-pos {
		left: 5.5%;
		width: 89%;
		min-height: 91%;
		top: 4.5%;
	}
}
@media (max-width: 414px){
	.top-nav {
		top: 15%;
		padding-bottom: .2em;
	}
	.banner-info h3 {
		font-size: 1.2em;
	}
	.banner1 {
		background: url(../images/19.jpg) -132px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.banner {
		background: url(../images/1.jpg) -308px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.banner-bottom-left1 {
		padding: 2em 2em 3em;
	}
	.globe span {
		background: url(../images/img-sp.png) no-repeat 16px -55px;
		background-size: 400%;
		width: 90px;
		height: 90px;
	}
	figure.effect-lexi p {
		width: 145px;
		font-size: 10px;
	}
	figure.effect-lexi figcaption::before {
		width: 210px;
		height: 210px;
	}
	.banner-bottom-slider-left h3 span {
		font-size: 1.2em;
	}
	.banner-bottom-slider-left {
		margin: 0 0 1.5em;
	}
	.about-grid-pos:after {
		background: url(../images/2.png) no-repeat -0px 0px;
		background-size: 99%;
		width: 393px;
		bottom: -20%;
	}
	.about-grid1-grids h3, .history-left h3, .contact-left1 h3, .mail h3, .contact-right h3 {
		font-size: 1.3em;
	}
	.gallery h3, .services h3, .offered-services h3, .testimonials h3, h3.title {
		font-size: 1.7em;
	}
	.gallery h3:before, .services h3:before, .offered-services h3:before, .testimonials h3:before, h3.title:before {
		width: 45%;
		left: 10%;
		height: 1px;
	}
	.gallery-grids, .services-grids, .offered-services-grids, .testimonials-grids {
		margin: 2em 0 0;
	}
	.testimonials-grid {
		width: 100%;
	}
	.gallery-grid1 {
		width: 95%;
	}
	.single-right {
		padding: 0;
	}
	.single-left3-grid {
		float: none;
		width: 100%;
	}
	.single-left3-grid:nth-child(1) {
		margin-bottom: 1em;
	}
	.admin {
		margin: 2em 0;
		padding: 1em;
	}
	.comments-admin-grids {
		margin: 2em 0 0;
	}
	.comments-admin h4, .leave-a-comment h3 {
		font-size: 1.5em;
	}
	.leave-a-comment {
		margin: 3em 0 0;
	}
	.contact-left,.contact-right {
		padding: 0;
	}
}
@media (max-width:384px){
	.banner-info h3 {
		width: 90%;
	}
	.header-left {
		width: 85%;
	}
	.social-icons {
		padding: 3em 0 0;
	}
	.top-nav {
		top: 17%;
	}
}
@media (max-width:375px){
	.banner1 {
		background: url(../images/19.jpg) -160px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.testimonials-grid2-social-icons {
		padding: 1em 0 0 !important;
	}
	.banner-bottom-left1-grid h3 {
		font-size: 1.7em;
	}
	figure.effect-lexi h4 {
		font-size: 14px;
	}
	.banner-bottom-left2 h3 {
		padding: 1em 2em 1em;
	}
	.banner-bottom-left2 h3:before {
		top: 9%;
	}
	.about-grid-pos:after {
		background: url(../images/2.png) no-repeat -0px 0px;
		background-size: 100%;
		width: 350px;
	}
	.testimonials-grid {
		padding: 0 1em;
	}
	.history-left,.history-right,.contact-left1 {
		padding: 0;
	}
	.about-grid1-grids p, .history-left p {
		margin: 0.5em 0 1.5em;
	}
	.pro2 p {
		margin: 0 !important;
	}
	.single-left h3 {
		font-size: 1em;
	}
	.single-left1 h5 {
		font-size: 1.2em;
	}
	.contact-right1 {
		margin: 2em 0 0;
	}
	.contact-right1-pos1 p{
		margin: 0 !important;
	}
}
@media (max-width: 320px){
	.banner1 {
		background: url(../images/19.jpg) -199px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
	}
	.header-left {
		width: 100%;
	}
	.header-left input[type="text"],.banner-info p {
		font-size: 13px;
	}
	.banner-info p {
		margin: 0.5em auto 2em;
	}
	.header-left input[type="submit"] {
		padding: 8px 0;
	}
	.header-left1 h1 a {
		font-size: 1em;
	}
	.header-left1 {
		margin-left: 0;
	}
	.banner-info h3 {
		font-size: 1.1em;
		width: 100%;
	}
	.banner {
		background: url(../images/1.jpg) -252px 0px no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size: cover;
		min-height: 425px;
	}
	.banner-info {
		padding: 2em 0 0;
	}
	.banner-bottom-left1-grid h3 {
		font-size: 1.5em;
	}
	.progress1 {
		margin: 1em 0 0;
	}
	.banner-bottom-left1-grid p {
		margin: 1em 0 2em;
		font-size: 13px;
	}
	.banner-bottom-left1 {
		padding: 1em 1em 2em;
	}
	.m1 a {
		padding: 0px 80px 10px !important;
	}
	.grid figure figcaption {
		padding: 0em 1em;
	}
	.banner-bottom-left2 h3 {
		font-size: 1em;
		line-height: 1.8em;
	}
	.banner-bottom-lft1 {
		padding: 1em 1em 2em;
	}
	.banner-bottom-lft1 h4 {
		font-size: 1em;
	}
	.banner-bottom-lft1 p,.contact-right p,.mail input[type="text"], .mail input[type="email"], .mail textarea,.contact-left2 ul li,.leave-a-comment input[type="text"], .leave-a-comment input[type="email"], .leave-a-comment textarea,.comments-admin-grid-right p,.admin-right p,.single-left1-grid p, .single-left3 p,.search1 input[type="text"],.panel-default > .panel-heading + .panel-collapse > .panel-body,.panel-heading p,.testimonials-grid1 p,p.dummy-text,.about-grid1-grids p, .history-left p,.banner-bottom-slider-left p,.footer-copy p,.banner-bottom-slider-right1 p,.footer-grid ul li,.footer-grid2 ul.timings li {
		font-size: 13px;
	}
	.contact-right1-pos1 p {
		font-size: 1em;
	}
	.contact-left2 h4 {
		margin: 1em 0 0.5em;
	}
	.contact-right1-pos {
		left: 7.5%;
		width: 85%;
		min-height: 87%;
		top: 6.5%;
	}
	.admin-left {
		width: 30%;
	}
	.admin-right {
		width: 65%;
	}
	.search1 input[type="submit"] {
		font-size: 14px;
		width: 100%;
	}
	.related-post-right h4 {
		margin: 0 0 0.5em;
	}
	.related-post-right p {
		font-size: 13px;
		margin: 0;
	}
	.single-left h3:before {
		width: 2px;
	}
	.single-left h3 {
		padding-left: 1em;
		margin: 1em 0 2em;
	}
	.panel-default:nth-child(2) {
		padding: 1em 0;
	}
	.history-left h4 {
		font-size: 14px;
	}
	.blod-meta li {
		font-size: 12px;
	}
	.blog-title h4 {
		font-size: 1.1em;
	}
	.blog-title p {
		font-size: 11px;
	}
	.blog-title {
		padding: 1em 0.5em;
	}
	figure.effect-lexi h4 {
		width: 91%;
	}
	.banner-bottom-slider-left h3{
		font-size: 1em;
	}
	.banner-bottom-slider-left,.offered-services-grid,.services-grid,.banner-bottom-slider-right,.about-grid1-grid,.testimonials-grid{
		padding:0;
	}
	.services-grid h5 a {
		font-size: 1.2em;
	}
	.banner-bottom-slider-right1 p span {
		font-size: 1.2em;
	}
	.footer-grid {
		width: 100%;
	}
	.about-grid img {
		width: 100%;
	}
	.about-grid-pos p {
		font-size: 1em;
	}
	.about-grid-pos:after {
		background: url(../images/2.png) no-repeat -0px 0px;
		background-size: 97%;
		width: 300px;
	}
	.about-grid1-grids {
		margin: 2em 0 0;
	}
	.about-grid1-grid:nth-child(3) {
		margin: 1em 0 1em;
	}
	.single-left1-grid:nth-child(2) {
		margin: 1em 0;
	}
	.single-left3-grids {
		margin: 1em 0 0;
	}
	button#showRightPush img {
		width: 80%;
		margin: .3em 0 0;
	}
	.social-icons {
		padding: 2em 0 0;
	}
	.top-nav {
		top: 18%;
	}
}