<div class="footer-copy">
		<div class="container">
			<p class="animated wow zoomIn" data-wow-delay=".5s">&copy 2016 A2Tech. All rights reserved | Design by <a href="http://w3layouts.com/">A2Tech</a></p>
		</div>
	</div>