

 <div class="header">
				
				<div class="banner-info animated wow slideInUp" data-wow-delay="800ms">
					<h3>Perne Shree Muchilot<span> Bhagavathi Temple</span></h3>
				</div>
				<!-- #push_sidebar -->
				
				<div class="top-nav">
					<% if user_signed_in? %>
					<span class="menu">
							<%= image_tag "menu.png" %>
					</span>
					
					<ul class="nav1">
						
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/houses/new">New Registraion</a></li>
						<li><a href="/houses">House List</a></li>
						<li><a href="/members">Members</a></li>
						<li><a href="/fees">Vanthiga</a></li>
						<li><%= link_to "Change your password", edit_user_registration_path %> </li>
						<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>

						<% end %>
					</ul>
					<div class="clearfix"> </div>
					<!-- script-for-menu -->
					 <script>
					   $( "span.menu" ).click(function() {
						 $( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						  });
						 });
					</script>
					<!-- /script-for-menu -->
				
				<!-- /#push_sidebar -->
				<div class="clearfix"> </div>
			</div>



