<!DOCTYPE html>
<html>
<head>
  <title>Amma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >



<%= render "layouts/header" %>
<% if notice %> 
<div class="notice-wrapper"> 
<p class="notice"> 

</p> 
</div> 
<% elsif alert %> 
<div class="notice-wrapper"> 
 
</div> 
<% end %> 
<%=yield %>
<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<%= render "layouts/footer" %>

</body>
</html>
