<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="members">
  <form class="col s12" >   
<div class="row">
    <div class="input-field col s3">
    <%= f.label :FirstName %><br>
    <%= f.text_field :firstName %>
   </div>

  
    <div class="input-field col s3">
    <%= f.label :LastName %><br>
    <%= f.text_field :lastName %>
  </div>

    <div class="input-field col s2">
    <%= f.label :DOB %><br>
    <%= f.text_field :DOB %>
 </div>
</div>
<!--  <d<div class="row">
    <div class="input-field col s2">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
</div> -->
  <!--<div class="row">
    <div class="input-field col s12">
    
   <%= collection_select(:fname, :member_id, Member.all, :id, :firstName,  {:class=>'input-field col s12'},{:prompt => 'Select'}) %>
 </div> -->
<div class="row">
    <div class="input-field col s2">
    <%= f.label :Education %><br>
   
    <% @modes = ["Select","Below SSLC","SSLC","Plus Two","Graduate","Post Graduate"] %> 
    <%= f.collection_select :education, @modes, :to_s, :to_s, include_blank: false %>


  </div>

    <div class="input-field col s2">
    <%= f.label :Profession %><br>
    <%= f.text_field :profession %>
  </div>
</div>
 <div class="row">
    <div class="input-field col s2">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile %>
  </div>

    <div class="input-field col s2">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
 </div>
</div>
<!--  <div class="row">
    <div class="input-field col s2">
    <%= f.label :house_id %><br>
    <%= f.text_field :house_id %>
  </div>
</div> -->
  <div class="row">
    <div class="input-field col s2">
    <%= f.label :vaniyanType %><br>
    <% @modes = ["Select","Muchil","Chorla"] %> 
    <%= f.collection_select :vaniyanType, @modes, :to_s, :to_s, include_blank: false %>
  
  </div>

    <div class="input-field col s2">
    <%= f.label :tharavad %><br>
   
    <% @modes = ["Select","Bambrana","Bandiyod"] %> 
    <%= f.collection_select :tharavad, @modes, :to_s, :to_s, include_blank: false %>
  </div>

    <div class="input-field col s2">
    
    <%= f.label :perneBenefit %><br> 
    <% @modes = ["Select","Yes","No"] %> 
    <%= f.collection_select :perneBenefit, @modes, :to_s, :to_s, include_blank: false %>
  </div>
</div>
  <%= f.hidden_field :house_id, value: params[:house_id] %>
    <div class="input-field col s2">
    <%= f.submit 'Register', :class => 'btn waves-effect waves-light' %>
  <% end %>
</div>
</form>
</div>