
<div class="back">
<div class="banner">
		<div class="container">
			<div class="header">
				<!--<div class="header-left animated wow bounceInLeft" data-wow-delay="800ms">
					<form>
						<input type="text" value="Search Here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Here...';}" required="">
						<input type="submit" value="" >
						<div class="clearfix"> </div>
					</form>
				</div>
				<div class="header-left1 animated wow zoomIn" data-wow-delay="800ms">
					<h1><a href="index.html">Walk<span>Where To Go This Summer?</span></a></h1>
				</div>
				<!-- #push_sidebar -->
				
				<!-- /#push_sidebar -->
				<div class="clearfix"> </div>
			</div>
		<!--	<div class="banner-info animated wow slideInUp" data-wow-delay="800ms">
				
				
				
				<div class="social-icons">
					<ul>
						<li><a href="#" class="twitter"></a></li>
						<li><a href="#" class="facebook"></a></li>
						<li><a href="#" class="google"></a></li>
						<li><a href="#" class="p"></a></li>
					</ul>
				</div>
			</div> -->
		</div>
	</div>
</div>