<h1 class="heading_main">Members details</h1>

<%= link_to 'ADD Member', new_member_path %>

<table id="membersList" class="striped bordered centered responsive-table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Dob</th>
      <th>Age</th>
     <!-- <th>Relationtype</th> -->
      <th>Education</th>
      <th>Profession</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>House No</th>
      <th>Vaniyan</th>
      <th>Tharavad</th>
     <!-- <th>Pernebenefit</th> -->
      <th>Action</th>

    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr height="10">
        <td><%= member.firstName %></td>
        <td><%= member.lastName %></td>
        <td><%= member.DOB %></td>
        <td><%= member.age %></td>
        <!-- <td><%= member.relationType %></td> -->
        <td><%= member.education %></td>
        <td><%= member.profession %></td>
        <td><%= member.mobile %></td>
        <td><%= member.email %></td>
        <td><%= member.house_id %></td>
        <td><%= member.vaniyanType %></td>
        <td><%= member.tharavad %></td>
        <!-- <td><%= member.perneBenefit %></td> -->
        <td><%= link_to 'Show', member , :class => 'waves-effect waves-light btn-'%> <%= link_to 'Edit', edit_member_path(member) %> <%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
