<p id="notice"><%= notice %></p>
<button class="btn waves-effect waves-light" align="right"><%= link_to 'Register Another Member', new_member_path %></button>
<table class="striped bordered centered responsive-table">
  <tbody>
    <tr>
 <td> <strong>Firstname:</strong></td>
  <td><%= @member.firstName %></td>

    </tr>
    <tr>

   <td><strong>Lastname:</strong></td>
   <td><%= @member.lastName %></td>

</tr>
    <tr>

   <td><strong>Dob:</strong></td>
   <td><%= @member.DOB %></td>

</tr>
    <tr>

  <td> <strong>Age:</strong></td>
  <td> <%= @member.age %></td>

</tr>
    <tr>

   <td><strong>Relationtype:</strong></td>
   <td><%= @member.relationType %></td>

</tr>
    <tr>

   <td><strong>Education:</strong></td>
   <td><%= @member.education %></td>

</tr>
    <tr>

   <td><strong>Profession:</strong></td>
   <td><%= @member.profession %></td>

</tr>
    <tr>

   <td><strong>Mobile:</strong></td>
   <td><%= @member.mobile %></td>
</tr>
    <tr>

   <td><strong>Email:</strong></td>
  <td> <%= @member.email %></td>
</p>
</tr>
    <tr>

   <td><strong>House Number:</strong></td>
  <td> <%= @member.house_id %></td>
</tr>
    <tr>

   <td><strong>Vaniyantype:</strong></td>
   <td><%= @member.vaniyanType %>

</tr>
    <tr>

   <td><strong>Tharavad:</strong></td>
   <td><%= @member.tharavad %></td>

</tr>
    <tr>

   <td><strong>Pernebenefit:</strong></td>
   <td><%= @member.perneBenefit %></td>

<tr>
</tbody>
</table>
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
